body {
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Arial, sans-serif;
}

form {
    background-color: #ffffff;
    width: 900px;
    height: fit-content;
    padding: 25px 30px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.name {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.name input {
    width: 100%;
    padding: 4px;
    margin-bottom: 3px;
}

.mail input {
    width: 50%;
    padding: 4px;
}

.stars{
    margin-top: 10px;
}

span{
    font-size: 22px;
    color: red;
}

.stars span {
    font-size: 22px;
    color: red;
}

.stars .filled {
    font-size: 30px;
    color: orange;
}

p {
    margin: 15px 0 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

tbody tr {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

td {
    padding: 10px;
}

tbody td {
    align-items: center;
    text-align: center;
}

tbody td label {
    text-align: left;
    font-weight: normal;
}

textarea {
    width: 100%;
    padding: 50px;
    resize: vertical;
    margin-top: 8px;
}

button {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #eaeaea;
    border: 1px solid #aaa;
    cursor: pointer;
}

button:hover {
    background-color: #dcdcdc;
}
